<div class="container text-center my-3">
  <div class="card">
    {{!-- <img url="DSC_7993.jpg" class="img-fluid" alt="" /> --}}
    <div class="card-body">
      <h5 class="card-title">Home . Handlebars</h5>
      <p class="card-text">Home . handlebars.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>